akad
beautifulsoup4
bs4
certifi
chardet
humanfriendly
idna==2.7
livejson
pafy
pyasn1
pytz
requests
rsa
six
thrift
timeago
urllib3
youtube-dl
PyQRCode
datetime
html5lib
gtts
googletrans
wikiapi
wikipedia
paramiko
qrcode
pillow
python-magic
humanize
